@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --foreground: #f2f2f2;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}
